<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<%= render 'article' %>

<p>
  <td><%= link_to 'Create New Article', new_article_path %></td>
  <td><%= link_to 'Signup', signup_path %></td>
  <td><%= link_to 'Home', root_path %></td>
</p>