<p id="notice" style="color:green;"><%= notice %></p>
<p id="alert" style="color:red;"><%= alert %></p>

<h1>Articles</h1>


<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<br>
<%= render 'article' %>

<p>
  <% if logged_in? %>
    <td><%= link_to 'Create New Article', new_article_path %></td>
  <% end %>
  <td><%= render 'sessions/login_footer' %></td>
</p>
