<p id="notice" style="color:green;"><%= notice %></p>
<p id="alert" style="color:red;"><%= alert %></p>

<h1>Users</h1>

<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>
<br>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <% if logged_in? %>
        <th>Email</th>
      <%end%>
      <th>Articles</th>
      <th>Joined</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <% if logged_in? %>
          <td><%= user.email %></td>
        <%end%>
        <td><%= user.articles.count %></td>
        <td><%= time_ago_in_words(user.created_at) %></td>
        <td><%= link_to 'Show', user %></td>
        <% if logged_in? %>
          <% if user == current_user %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% end %>
          <% if current_user.admin?  %>
            <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<p>
  <%= render 'sessions/login_footer' %>
</p>