<p id="notice"><%= notice %></p>

<h1><%= @user.username %>'s profile</h1>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<br>
<h2>Articles</h2>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<br>

<%= render 'articles/article' %>

<%= link_to 'Edit user\'s profile', edit_user_path(@user) %>

<%= link_to 'Article listing', articles_path %>

<%= link_to 'Users listing', users_path %>

<%= link_to 'Home', root_path %>

<%= link_to 'Logout', logout_path, method: :delete %>
