<p id="notice" style="color:green;"><%= notice %></p>
<p id="alert" style="color:red;"><%= alert %></p>

<h1><%= @user.username %>'s profile</h1>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<% if logged_in? %>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
<%end%>
<h2>Articles</h2>
<br>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div>
<br>

<%= render 'articles/article' %>

<p>
  <% if logged_in? && @user == current_user %>
    <%= link_to 'Edit user\'s profile', edit_user_path(@user) %>
  <%end%>
  <%= render 'sessions/login_footer' %>
</p>
