<h1> This is the About page</h1>

<%= link_to 'Login', login_path %>

<%= link_to 'Articles listing', articles_path %>

<%= link_to 'Users listing', users_path %>

<%= link_to 'Signup', signup_path %>

<%= link_to 'Home page', root_path %>

<%= link_to 'Logout', logout_path, method: :delete %>