<p id="notice" style="color:green;"><%= notice %></p>
<p id="alert" style="color:red;"><%= alert %></p>

<h1>Categories</h1>

<div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
</div>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Edited</th>
      <th colspan="1">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= time_ago_in_words(category.created_at) %></td>
        <td><%= time_ago_in_words(category.updated_at) %></td>
        <td><%= link_to 'Show', category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% if logged_in? && current_user.admin?%>
    <td><%= link_to 'Create New Category', new_category_path %></td>
  <% end %>
  <td><%= render 'sessions/login_footer' %></td>
</p>
