<p id="notice" style="color:green;"><%= notice %></p>
<p id="alert" style="color:red;"><%= alert %></p>

<h1>Categories</h1>

<div class="flickr_pagination">
    <%= will_paginate @categories, :container => false %>
</div>
<br>
<%= render 'category' %>

<p>
  <% if logged_in? %>
    <td><%= link_to 'Create New Category', new_category_path %></td>
  <% end %>
  <td><%= render 'sessions/login_footer' %></td>
</p>
